# General
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node / NPM
node_modules/
frontend/node_modules/ # More specific if frontend is a subdir
frontend/build/        # <<< ADD THIS LINE if not already present
coverage/
.npm
*.tgz

# Python
backend/venv/
backend/__pycache__/
backend/flask_cache/
backend/historical_sentiment_data.json # Assuming you don't want to commit this runtime data
*.pyc
*.pyo
.Python
celerybeat-schedule
*.egg-info/
.env
backend/.env # More specific

# IDE / Editor specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace